<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="chat">
        <div id="messages"></div>
        <div id="inputContainer">
            <input id="input" autocomplete="off" placeholder="Type your message here..." />
            <button id="sendButton" onclick="sendMessage()">Send</button>
        </div>
    </div>

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
